
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> 
        
        @if(HttpContext.Current.Cache["ad"]!=null)
        {
        <span>@HttpContext.Current.Cache["ad"].ToString()
        </span>
        }
        else
            {
              <span>Cache silindi</span>
            }
    </div>
</body>
</html>
